<!-- ■■検索■■ -->
<div id="search" class="col-xs-2">
検索「      」<br>
検索条件１・・・<br>
検索条件２・・・<br>
検索条件３・・・
</div>

<!-- ■■投稿■■ -->
<div id="reports" class="col-xs-10">
  <h2>新着投稿</h2>
  <div class="report-wrapper">
    <% @reports.each do |report| %>
      <article class="col-xs-4 report-overview thumbnail">
        <img src="<%= report.image %>">
        <div class="caption">
          <h3><%= report.report_title %></h3>
          <a href="#"><%= report.name %></a>
          <%= simple_format(report.text) %>
        </div>
      </article>
    <% end %>
  </div>
</div>
