<!-- ■■検索■■ -->
<section id="search" class="col-xs-3">
検索「      」<br>
検索条件１・・・<br>
検索条件２・・・<br>
検索条件３・・・
</section>

<!-- ■■投稿■■ -->
<section id="reports" class="col-xs-9">
  <h2>新着投稿</h2>

  <article class="col-xs-4">
    <a href="" alt="コンテンツ詳細へのリンク"><img src="" alt="投稿タイトル-メイン写真"></a>
    <h3>投稿タイトル</h3>
    <div class="course-content-prf-img" alt="ユーザープロフィール写真">
      <a href="" alt="ユーザーページへのリンク"><img src=""></a>
    </div>
    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
  </article>

  <article class="col-xs-4">
    <a href="" alt="コンテンツ詳細へのリンク"><img src="" alt="投稿タイトル-メイン写真"></a>
    <h3>投稿タイトル</h3>
    <div class="course-content-prf-img" alt="ユーザープロフィール写真">
      <a href="" alt="ユーザーページへのリンク"><img src=""></a>
    </div>
    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
  </article>

  <article class="col-xs-4">
    <a href="" alt="コンテンツ詳細へのリンク"><img src="" alt="投稿タイトル-メイン写真"></a>
    <h3>投稿タイトル</h3>
    <div class="course-content-prf-img" alt="ユーザープロフィール写真">
      <a href="" alt="ユーザーページへのリンク"><img src=""></a>
    </div>
    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
  </article>

</section>
